* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f7f7;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 100vw;
}

h1 {
    color: #43d8c9;
    font-size: 2.5rem;
    font-weight: 900;
    cursor: pointer;
    text-align: center;
    padding: 1rem;
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.17);
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1rem;
    opacity: 80%;
    border-bottom: #43d8c9 2px solid;
}

/* Kategorier  */
article {
    padding: 1rem;
    font-size: 1rem;
    opacity: 80%;
    cursor: pointer;
}

article:hover {
    background-color: #43d8c9;
}