* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f7f7;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 100vw;
    overflow-x: hidden;
}

h1 {
    color: #43d8c9;
    font-size: 2.5rem;
    font-weight: 900;
    cursor: pointer;
    text-align: center;
    padding: 1rem;
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.17);
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
    opacity: 80%;
    padding-bottom: 1rem;
    padding-left: 1rem;
}


/* Kategorier  */
article {
    padding: 1rem;
    font-size: 1rem;
    opacity: 80%;
    cursor: pointer;
}

article:hover {
    background-color: #43d8c9;
}

#plantlist {
    width: 100vw;
}

#plantDetails {
    width: 100vw;
}

i {
    padding-left: 1rem;
    padding-bottom: 1rem;
    font-size: 1.8rem;
}

.buttonDiv {
    display: flex;
}


a {
    color: #43d8c9;
}

